<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>First Aid</title>

<link rel="stylesheet" href="{% static 'css/firstaid.css' %}">

</head>

<body>

  <div class="navbar">

<div class="logo">
<img src="{% static 'images/logoo.png' %}" width="170">
</div>


<div class="search">

<form method="GET" action="{% url 'home' %}">

<input type="text" name="q" value="{{ query }}" placeholder="Search medicines...">

<button type="submit">Search</button>

</form>

</div>


<div class="nav-right">

<!-- <a href="{% url 'cart' %}" class="icon-btn">
<img src="{% static 'images/crt.svg' %}">
</a>

<a href="#" class="icon-btn">
<img src="{% static 'images/wishlist.png' %}">
</a> -->

<a href="{% url 'home' %}">
<button class="home-btn">Back to Home</button>
</a>

</div>

</div>

<div class="main">

<form action="" method="POST">
{% csrf_token %}

{% for product in firstaids %}

<div class="product">

<img src="{{ product.image.url }}" width="150">

<h3>{{ product.name }}</h3>

<p>Price: ₹{{ product.price }}</p>

<div class="actions">

<a href="{% url 'add_to_cart' product.id %}" class="cart">
Add to Cart
</a>

<label class="wishlist-box">
<input type="checkbox">
<span class="wishlist">♡</span>
</label>

</div>

</div>

{% endfor %}

</form>

</div>

</body>
</html>