<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Injections</title>

<link rel="stylesheet" href="{% static 'css/injection.css' %}">

</head>

<body>

<div class="main">

<form action="" method="POST">
{% csrf_token %}

{% for product in injections %}

<div class="product">

<img src="{{ product.image.url }}" width="150">

<h3>{{ product.name }}</h3>

<p>Price: ₹{{ product.price }}</p>

<div class="actions">

<a href="{% url 'add_to_cart' product.id %}" class="cart">
Add to Cart
</a>

<label class="wishlist-box">
<input type="checkbox">
<span class="wishlist">♡</span>
</label>

</div>

</div>

{% endfor %}

</form>

</div>

</body>
</html>