<!DOCTYPE html>
<html>
<head>
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/orders.css' %}">
</head>

<body>

<!-- SAME NAVBAR -->

<div class="orders-container">

<a href="{% url 'my_orders' %}">
    <button class="home-btn">My Orders</button>
</a>

<h2>My Orders</h2>

{% for order in orders %}
<div class="order-card">
    <p><strong>Order ID:</strong> {{ order.id }}</p>
    <p><strong>Total:</strong> ₹{{ order.total_amount }}</p>
    <p><strong>Payment:</strong> {{ order.payment_method }}</p>
    <p><strong>Status:</strong> {{ order.status }}</p>
</div>
{% empty %}
<p>No orders found</p>
{% endfor %}

</div>

<!-- SAME FOOTER -->

</body>
</html>