<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<meta charset="UTF-8">
<title>Tablets</title>

<link rel="stylesheet" href="{% static 'css/supplement.css' %}">
</head>

<body>

<!-- NAVBAR -->
<div class="navbar">

<div class="logo">
<img src="{% static 'images/logoo.png' %}">
</div>

<div class="search">
<form method="GET" action="{% url 'redirect_search' %}">
    <input type="text" name="q" placeholder="Search medicines...">
    <button type="submit">Search</button>
</form>
</div>

<div class="nav-right">

<!-- CART -->
<a href="{% url 'cart' %}" class="icon-box">
    <img src="{% static 'images/crt.svg' %}">
    <span class="badge">{{ cart_count }}</span>
</a>

<!-- WISHLIST -->
<a href="{% url 'wishlist_page' %}" class="icon-box">
    <img src="{% static 'images/wishlist.png' %}">
    <span class="badge">{{ wishlist_count }}</span>
</a>

<!-- HOME -->
<a href="{% url 'home' %}">
    <button class="home-btn">Home</button>
</a>

</div>

</div>

<!-- PRODUCTS -->
<div class="main">

{% for product in supplements %}

<div class="product">

<img src="{{ product.image.url }}">

<h3>{{ product.name }}</h3>

<p>₹{{ product.price }}</p>

<div class="actions">

<a href="{% url 'add_to_cart' product.id %}" class="cart-btn">
Add to Cart
</a>

<!-- ✅ NEW WISHLIST STYLE -->
<form action="{% url 'add_wishlist' product.id %}" method="POST">
{% csrf_token %}
<button class="wish-circle {% if product.id in wishlist_products %}active{% endif %}">
    ♡
</button>
</form>

</div>

</div>

{% endfor %}

</div>

</body>
</html>