
body{
margin:0;
font-family:Arial;
background:#f4f6f8;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:#2F80C7;
color:white;
}

.search form{
display:flex;
}

.search input{
width:250px;
padding:8px;
border:none;
border-radius:6px 0 0 6px;
}

.search button{
padding:8px 15px;
border:none;
background:#1f6f63;
color:white;
border-radius:0 6px 6px 0;
cursor:pointer;
}

.home-btn{
background:#1f6f63;
color:white;
border:none;
padding:8px 15px;
border-radius:6px;
cursor:pointer;
}

/* MAIN */

.main{
width:85%;
margin:auto;
margin-top:40px;
}

/* PRODUCT CARD */

/* .product-container{
display:flex;
gap:60px;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 6px 20px rgba(0,0,0,0.15);
margin-bottom:30px;
} */



.product-container{
display:flex;
align-items:center;
gap:35px;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 4px 12px rgba(0,0,0,0.12);
margin-bottom:20px;
}



.product-image img{
width:250px;
}

.price{
color:green;
}

/* QUANTITY */

.quantity{
display:flex;
align-items:center;
gap:10px;
margin-bottom:20px;
}

.qty-btn{
width:35px;
height:35px;
font-size:20px;
border:none;
background:#ddd;
cursor:pointer;
}

.quantity input{
width:50px;
text-align:center;
}

/* BUTTONS */

.buttons{
display:flex;
gap:20px;
}

.buy-btn{
background:#28a745;
color:white;
border:none;
padding:10px 15px;
border-radius:6px;
}

.remove-btn{
background:red;
color:white;
border:none;
padding:10px 15px;
border-radius:6px;
cursor:pointer;
}

/* BILL SUMMARY */

.bill{
background:white;
padding:25px;
border-radius:10px;
width:300px;
box-shadow:0 5px 15px rgba(0,0,0,0.15);
}

.order-btn{
background:#007bff;
color:white;
border:none;
padding:12px 20px;
border-radius:6px;
margin-top:10px;
cursor:pointer;
}


.item-total{
margin-top:10px;
font-size:18px;
font-weight:bold;
color:#333;
}