body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:linear-gradient(135deg,#f6f9fc,#e9f3ff);
}

.navbar{
display:flex;
align-items:center;
justify-content:space-between;
padding:15px 40px;
background:#2F80C7;
box-shadow:0 3px 10px rgba(0,0,0,0.08);
position:sticky;
height: 7vh;
top:0;
z-index:10;
}

.search form{
display:flex;
}

.search input{
width:300px;
padding:10px;
border:1px solid #ccc;
border-radius:6px 0 0 6px;
}

.search button{
padding:10px 15px;
border:none;
background:#1f6f63;
color:white;
border-radius:0 6px 6px 0;
cursor:pointer;
}

.nav-right{
display:flex;
align-items:center;
gap:20px;
}

.wishlist-icon{
position:relative;
display:inline-block;
cursor:pointer;
}

.wishlist-count{
position:absolute;
top:-6px;
right:-8px;
background:red;
color:white;
font-size:12px;
padding:2px 6px;
border-radius:50%;
font-weight:bold;
}

.icon-btn img{
width:26px;
}


.wishlist-btn{
text-decoration:none;
display:flex;
align-items:center;
justify-content:center;
}



.wishlist{
font-size:22px;
width:35px;
height:35px;
display:flex;
align-items:center;
justify-content:center;
border-radius:50%;
border:1px solid #ccc;
color:#555;
cursor:pointer;
transition:0.3s;
}


.wishlist:hover{
background:red;
color:white;
}

.wishlist.active{
background:red;
color:white;
border:none;
}

.home-btn{
background:#1f6f63;
color:white;
border:none;
padding:8px 15px;
border-radius:10px;
cursor:pointer;
}

.home-btn:hover{
background:#15574d;
}




.main{
width:90%;
margin:auto;
margin-top:110px;
}




.main form{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:25px;
margin-top:40px;
}




.product{
width:240px;
background:white;
border-radius:12px;
padding:20px;
text-align:center;
box-shadow:0 6px 18px rgba(0,0,0,0.12);
transition:0.3s;
display:flex;
flex-direction:column;
justify-content:space-between;
}

.product:hover{
transform:translateY(-8px);
box-shadow:0 12px 25px rgba(0,0,0,0.18);
}




.product img{
width:100%;
height:160px;
object-fit:contain;
}




.product h3{
font-size:18px;
color:#333;
}



.product p{
font-size:20px;
color:#0a7a55;
font-weight:bold;
}




.actions{
display:flex;
justify-content:space-between;
align-items:center;
margin-top:10px;
}




.cart{
background:#1f6f63;
color:white;
padding:8px 15px;
border-radius:8px;
cursor:pointer;
font-size:14px;
transition:0.3s;
text-decoration:none;
}

.cart:hover{
background:#15574d;
}




.wishlist-box{
cursor:pointer;
}

.wishlist-box input{
display:none;
}

.wishlist{
font-size:22px;
width:35px;
height:35px;
display:flex;
align-items:center;
justify-content:center;
border-radius:50%;
border:1px solid #ccc;
color:#555;
transition:0.3s;
}

.wishlist:hover{
background:red;
color:white;
}

.wishlist-box input:checked + .wishlist{
background:red;
color:white;
border:none;
}