*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}


body{
background:#f1f3f6;
}


.main{
margin-top:100px;   
padding:20px;
}




.home-btn{
background:#1b4e8a;
color:white;
border:none;
padding:8px 18px;
border-radius:6px;
cursor:pointer;
}


.home-btn:hover{
background:#0d3b66;
}


.checkout-wrapper{
max-width:1200px;
margin:auto;
}


.name{
font-size:28px;
font-weight:bold;
margin-bottom:20px;
color:#1b4e8a;
}


.container{
display:flex;
gap:20px;
align-items:flex-start;
}


.left{
flex:2;
}


.box{
background:white;
padding:15px;
border-radius:10px;
margin-bottom:15px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}


.product-row{
display:flex;
gap:15px;
align-items:center;
}


.product-row img{
width:100px;
height:100px;
object-fit:contain;
}


.details{
flex:1;
}

.pname{
font-weight:bold;
font-size:16px;
margin-bottom:5px;
}


.details p{
margin:3px 0;
font-size:14px;
}


.quantity{
display:flex;
gap:10px;
margin-top:10px;
align-items:center;
}

.quantity button{
width:30px;
height:30px;
border:none;
background:#e0e0e0;
cursor:pointer;
border-radius:4px;
font-weight:bold;
}

.quantity input{
width:40px;
text-align:center;
border:none;
background:#f5f5f5;
padding:5px;
}


.remove{
background:#d32f2f;
color:white;
border:none;
padding:6px 12px;
margin-top:10px;
border-radius:5px;
cursor:pointer;
}


.right-box{
flex:1;
background:white;
padding:20px;
border-radius:10px;
height:fit-content;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
position:sticky;
top:120px;
}


.price-box{
margin-top:10px;
}

.price-box p{
display:flex;
justify-content:space-between;
margin:8px 0;
font-size:15px;
}

.move-btn{
background:#2e7d32;   
color:white;
border:none;
padding:6px 12px;     
font-size:13px;
border-radius:5px;
cursor:pointer;
}

.move-btn:hover{
background:#1b5e20;
}


.price-box h2{
margin-top:10px;
color:#1b4e8a;
}




.actions{
    display:flex;
    gap:10px;
    align-items:center;
}

.move-btn{
    background:#2e7d32;
    color:white;
    padding:6px 14px;
    border-radius:5px;
    text-decoration:none;
    font-size:13px;
}

.move-btn:hover{
    background:#1b5e20;
}

.remove-btn{
    background:#d32f2f;
    color:white;
    padding:6px 14px;
    border-radius:5px;
    text-decoration:none;
    font-size:13px;
}

.remove-btn:hover{
    background:#b71c1c;
}



.empty-cart{
text-align:center;
background:white;
padding:40px;
border-radius:10px;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.empty-cart img{
width:200px;
margin-bottom:20px;
}

.shop-btn{
background:#2874f0;
color:white;
border:none;
padding:10px 20px;
border-radius:6px;
cursor:pointer;
}


@media(max-width:900px){

.container{
flex-direction:column;
}

.right-box{
position:static;
width:100%;
}

.product-row{
flex-direction:column;
text-align:center;
}

}